:root {
    --wpmstaging-form-spacing-xsmall: 0.5rem;
    --wpmstaging-form-spacing-small: 1rem;
    --wpmstaging-form-spacing: 1.5rem;
    --wpmstaging-form-label-width: 180px;
    --wpmstaging-form-max-width: 700px;
}
