.container {
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: attr(data-prepend);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input {
}

.editButton {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
