.root {
  display: flex;
  justify-content: space-between;
}

.infos {
  flex-grow: 1;
  p {
    margin: 0.8em 0 0 0;

    &.version {
      margin-top: 0.4rem;
    }
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  & > * + * {
    margin-top: 1em;
  }
}

.name {
  margin: 0;
  display: flex;
  align-items: center;
}

.nameHoster {
  margin-right: 0.5rem;
  font-size: 1.2em;
}

.version {
  font-size: 0.8rem;
}

.repo {
}

.pushToDeploy {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.pushToDeployInput {
  margin-left: 1em;
  font-size: 0.7rem;
  width: 200px;
}

.copyButton {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.3;
  margin-left: 0.5em;

  &:hover {
    opacity: 0.6;
  }
}

.error {
  margin-top: var(--wpmstaging-form-spacing);
}
