.repository + .repository {
  margin-top: var(--shgi-form-spacing);
  padding-top: var(--shgi-form-spacing);
  border-top: 1px solid #ccd0d4;
}

.empty {
  text-align: center;
  padding: 1rem 0 3rem 0;
}
